header {
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid seashell;
    background-color: black;
    height: 69px;
    width: 100%;
    align-items: center;
}

header img {
    height: 50px;
    padding-left: 10px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

a {
    color: seashell;
}

nav span {
    padding: 20px 10px;
    display: inline-block;
}

body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-align: center;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main {
    width: 1200px;
    position: relative;
    padding-top: 69px;
    opacity: 0.9;
    margin: auto;
}

#mission {
    height: 700px;
    background-image: url(../images/img-mission-background.jpg);
}

#mission .statement {
    background-color: black;
    width: 100%;
    margin: auto;
}

#featuretea {
    width: 1000px;
    margin: 30px auto;
}

.menu-item {
    padding: 5px;
}

.menu-item img {
    height: 200px;
    width: 300px;
    margin: 10px;
}

.menu-item h4 {
    margin: 0px;
}

#locations {
    background-image: url(./../images/img-locations-background.jpg);
    height: 500px;
    flex-direction: column;
    justify-content: center;
}

#locations h2 {
    margin: 0px;
}

.location {
    background-color: black;
    width: 300px;
    margin: 15px 20px;
}

.contact {
    height: 200px;
}

footer {
    text-align: left;
    margin: 20px;
}